<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>ITEM NO 9 FOR {{name}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="This is where you add the website description." />
<meta name="keywords" content="keywords, for the site, go here, separated, by commas" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/default.css" />
</head>
<body id="index_page"> 
	<div id="wrapper">
		<div id="header">
        	<h1>ITEM NO 9</h1>
        </div>    
		<ul id="navigation">
            <li id="contact_us"><a href="contact-us.html">Contact Us</a></li>
            <li id="about_us"><a href="about-us.html">Share History </a></li>
            <li id="index"><a href="index.html">Home</a></li>
        </ul>
		<div id="content">
			<h2 class="clear">Welcome {{ name}}</h2>
            <p class="clear">
            <div id="main_content">
				<div class="two_columns">
					<h3>Requests </h3>
				<p>{% for req in reqs %}</p>
					<p>{{req.reqName}}</p>
					{% endfor %}
				</div>
				<div class="two_columns right_column">
					<h3>Demands</h3>
					<p>NO DEMANDS  </p>
				</div>
				
                <div class="clear">
                <p><img src="images/GT_image.jpg" alt="GT letters" /></p>
				</div>
                
                <div class="clear">
                <h3>NEW </h3>
		<p><a href = "new_item?name={{name}}">ITEM </a></p>
		<p><a href = "new_req?name={{name}}">REQUEST </a></p>
                <p>MORE TO COME </p>
                <p>MORE TO COME </p>
				</div>
            
            </div>	
            
            <div id="sidebar">
				<h3>Item List</h3>
				<p>{% for item in items %}</p>
					<p>{{item.itemName}}</p>
					{% endfor %}
			
            </div>
						
          
		</div>
	</div>
</body>
</html>





